DemoSCardService/Service References/SCardNPService/GemCard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GemCard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GemCard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="SHARE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exclusive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Shared">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Direct">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SHARE" nillable="true" type="tns:SHARE" />
  <xs:simpleType name="PROTOCOL">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="T0" />
      <xs:enumeration value="T1" />
      <xs:enumeration value="Raw">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65536</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Default">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2147483648</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T0orT1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PROTOCOL" nillable="true" type="tns:PROTOCOL" />
  <xs:simpleType name="DISCONNECT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Leave" />
      <xs:enumeration value="Reset" />
      <xs:enumeration value="Unpower" />
      <xs:enumeration value="Eject" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DISCONNECT" nillable="true" type="tns:DISCONNECT" />
</xs:schema>