Smartcard_WCFService/DemoSCardService/Service References/SCardNPService/GemCard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GemCard.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GemCard.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="APDUCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Ins" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Le" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="P1" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="P2" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APDUCommand" nillable="true" type="tns:APDUCommand" />
  <xs:complexType name="APDUResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SW1" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SW2" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APDUResponse" nillable="true" type="tns:APDUResponse" />
</xs:schema>